.filter-action-button {
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.filter-action-button.filled {
  border: none;
  color: var(--secondary-text-color);
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--dark-color);
  }
}

.filter-action-button.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  &:hover {
    background-color: var(--secondary-dark-color);
  }
}
