.inventory-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.inventory-container .inventory-content {
  display: flex;
  height: 100%;
  overflow: hidden;

  & .left-side {
    display: flex;
    flex: 1;
    border-right: 2px solid var(--border-color);
  }

  & .right-side {
    display: flex;
    flex: 2;
    overflow: auto;
  }
}
